
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-size: 20px;
}

.menuItems:link, .menuItems:visited {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;

  border: #545871;
  width: 100%;
  height: auto;
}


  /***************************************************************
                        Right input form styling 
   ***************************************************************/
  .RightFormContainer {
    width: 60%;
  }

    .petBasicsTitle {
      margin: 0 auto;
      width: 60%;
      text-align: center;
      font-size: 30px;

      margin-top: 5%;
    }

    .inputContainer {
      margin: 10px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

      width: 80%;
      height: 60%;
    }

      .nameInputBox, .uploadPhotoBox, .breedInputBox, .birthdayInputBox,
      .genderSelectionBox, .spayedSelectionBox, .weightSelectionBox {
        color: #9597A6;
      }
    
      .nameInputBox {
        grid-column: 1/3;
        grid-row: 1;
        font-size: 16px;

        align-self: center;
      }

        .textInput {
          border: solid 1px #E6DBDA;
          border-radius: 5px;
          font-size: 14px;
          padding: 8px;
        }

        ::placeholder {
          font-size: 14px;
          color: #EBD0CE;
        }

      .uploadPhotoBox {
        grid-column: 3/5;
        grid-row: 1;
        font-size: 16px;
        align-self: center;

        display: flex;
        flex-direction: row;

        margin-top: 22px;
        height: 50px;
      }

        #filePickerInput {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
        }

        .cameraImg {
          width: 10%;
          height: 80%;
        }

        .uploadLabel {
          margin-left: 10px;
          height: auto;

          margin-top: 10px;
        }

      .breedInputBox {
        grid-column: 1/3;
        grid-row: 2;
        font-size: 16px;
        
        align-self: center;
      }
      
      .birthdayInputBox {
        grid-column: 3/5;
        grid-row: 2;
        font-size: 16px;
        align-self: center;
      }

      /* html5 date picker styling */
      ::-webkit-datetime-edit-text { color:#EBD0CE; }
      ::-webkit-datetime-edit-month-field { color: #EBD0CE; }
      ::-webkit-datetime-edit-day-field { color: #EBD0CE; }
      ::-webkit-datetime-edit-year-field { color: #EBD0CE; }

      .genderSelectionBox {
        grid-column: 1/3;
        grid-row: 3;
        font-size: 16px;
        align-self: center;
      }   

        .genderButtonGroup {
          padding: 4px;
          border: solid 1px #E6DBDA;
          border-radius: 5px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }

          .binarySelection, .quadSelection {
            border-radius: 3px;
            border-style: solid;

            background-color: none;
            color: #545871;
          }

          .binarySelection {
            width: 50%;
            font-size: 16px;
          }


      .spayedSelectionBox {
        grid-column: 3/5;
        grid-row: 3;
        font-size: 16px;
        align-self: center;
      }

        .spayedYesNoGroup {
          width: 100%;
          padding: 4px;
          border: solid 1px #E6DBDA;
          border-radius: 5px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

        }


      .weightSelectionBox {
        grid-column: 1/5;
        grid-row: 4;
        font-size: 16px;
        align-self: center;
      }

        .weightButtonGroup {
          width: 100%;
          padding: 4px;
          border: solid 1px #E6DBDA;
          border-radius: 5px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }

          .quadSelection {
            width: 24%;
            font-size: 16px;
            background-color: none;
          }
    
    .backButton {
      grid-column: 1/2;
      grid-row: 6;
      margin-left: 20px;

      color: #545871;

      width: 100px;
      height: 40px;
      border: solid 1px #545871;
      border-radius: 28px
    }


  /***************************************************************
                        Left Nav Bar styling 
   ***************************************************************/

  .LefNavContainer {
    width: 40%;
    min-width: 500px;
  }

    .dogImgBox {
      width: 100%;
      position: relative;
    }
      .dogImg {
        width: 100%;
      }

      .logoBox {
        position: absolute;
        top: 10%;
        left: 25%; 
        width: 75%;

        max-height: 30px;
        display: flex;
        flex-direction: row;
      }

        .logoImg {
          width: 30px;
          height: 30px;
        }

        .logoTxt {
          position: relative;
          top: -8px;
          left: 10px;

          font-family: sans-serif;
          color: white;
        }

      .navBarBox {
        position: absolute;
        top: 30%;
        left: 25%; 

        display: flex;
        flex-direction: row;
        width: 40%;
        height: 30%;
      }

        .verticalBubbleBar{
          height: 100%;
          margin-left: 5px;
        }

        .concentricGroupBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          position: absolute;
          left: -3px;
        }

        #CC0, #CC1, #CC2, #CC3 {
          z-index: -1;  
        }

        .navBar {

          height: 100%;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          font-size: 16px;
          margin-left: 15px;
        }

          /* Default font color for class of menu items */
          .menuItems {
            color: #9597A6;
          }

      .exitLink {
        position: absolute;
        left: 25%;
        bottom: 10px;
        width: 100%;
        font-size: 16px;
      }