
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-size: 20px;
}

.menuItems:link, .menuItems:visited {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;

  border: #545871;
  width: 100%;
  height: auto;
}

  .RightFormContainer {
    width: 60%;
border: solid green;
  }

    .petBasicsTitle {
      margin: 0 auto;
      width: 60%;
      text-align: center;
      font-size: 30px;

      margin-top: 5%;
    }

    .inputContainer {
      margin: 10px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

      width: 80%;
      height: 60%;

border: solid blue;
    }
    
      .nameInputBox {
        grid-column: 1/3;
        grid-row: 1;
        font-size: 16px;

        align-self: center;
    
        border: solid olive;        
        
      }

      .uploadPhotoBox {
        grid-column: 3/5;
        grid-row: 1;
        font-size: 16px;
        align-self: center;

        display: flex;
        flex-direction: row;

        margin-top: 22px;
        height: 50px;

border: solid olive;        

      }
        .cameraImg {
          width: 15%;
          height: 80%;

border: solid peru;
        }

        .uploadLabel {
          margin-left: 5px;
          height: auto;

          margin-bottom: 0;
border: solid red;
        }

      .breedInputBox {
        grid-column: 1/3;
        grid-row: 2;
        font-size: 16px;
        
        align-self: center;
    
border: solid olive;     
      }
      
      .birthdayInputBox {
        grid-column: 3/5;
        grid-row: 2;
        font-size: 16px;
        align-self: center;
    
border: solid olive;        
      }

      .genderSelectionBox {
        grid-column: 1/3;
        grid-row: 3;
        font-size: 16px;
        align-self: center;
    

border: solid olive;     
      }   
        .binarySelection {
          width: 50%;
          font-size: 16px;
        }


      .spayedSelectionBox {
        grid-column: 3/5;
        grid-row: 3;
        font-size: 16px;
        align-self: center;
    
border: solid olive;     
      }

        .spayedYesNoGroup {
          width: 100%;
          padding: 4px;
          border: solid 1px #E6DBDA;
          border-radius: 5px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

        }


      .weightSelectionBox {
        grid-column: 1/5;
        grid-row: 4;
        font-size: 16px;
        align-self: center;
    
border: solid olive;     
      }

        .weightButtonGroup {
          width: 100%;
          padding: 4px;
          border: solid 1px #E6DBDA;
          border-radius: 5px;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }

          .quadSelection {
            width: 24%;
            font-size: 16px;
            
          }
    
    .backButton {
      grid-column: 1/2;
      grid-row: 6;
      margin-left: 20px;

      color: #545871;

      width: 100px;
      height: 40px;
      border: solid 1px #545871;
      border-radius: 28px
    }


  /***************************************************************
                        Left Nav Bar styling 
   ***************************************************************/

  .LefNavContainer {

  /* border: solid purple; */
    width: 40%;
    min-width: 500px;
  }

    .dogImgBox {

  /* border: solid green; */

      width: 100%;
      position: relative;
    }
      .dogImg {
        width: 100%;
      }

      .logoBox {
        position: absolute;
        top: 10%;
        left: 25%; 
        width: 75%;

        max-height: 30px;
        display: flex;
        flex-direction: row;

  /* border: solid yellow; */
      }

        .logoImg {
          width: 30px;
          height: 30px;
        }

        .logoTxt {
          position: relative;
          top: -8px;
          left: 10px;

          font-family: sans-serif;
          color: white;
        }

      .navBarBox {
        position: absolute;
        top: 30%;
        left: 25%; 

        display: flex;
        flex-direction: row;
        width: 40%;
        height: 30%;

  /* border: solid yellow; */
      }

        .verticalBubbleBar{
          height: 100%;
    /* border: solid lime; */

          margin-left: 5px;
        }

        .concentricGroupBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          position: absolute;
          left: -3px;
        }

        #CC0, #CC1, #CC2, #CC3 {
          z-index: -1;  
        }

        .navBar {

          height: 100%;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          font-size: 16px;
          margin-left: 15px;

    /* border: solid red; */
        }

          #menuItem0, #menuItem1, #menuItem2, #menuItem3 {
            color: #9597A6;
          }

      .exitLink {
        position: absolute;
        left: 25%;
        bottom: 10px;
        width: 100%;
        font-size: 16px;
      }